<!DOCTYPE html>
<html>
<head>
  <title>Approach</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="col-md-12">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: name %>
      <% end %>
    </div>
  </div>

  <div class="container">
    <main class="col-md-8">
    <%= yield %>  
    </main>
  </div>
  

</body>
</html>